*,
h1,
h2,
h3,
p,
ul,
li,
div {
  margin: 0;
  padding: 0;
}

.container {
  /* font-family: 'Lobster', cursive; */
  width: 80%;
  min-width: 800px;
  margin: 0 auto;
}

h1 {
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.2em;
}

p {
  font-size: 1em;
  text-align: center;
  margin-bottom: 0.3em;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  border: 1px solid #aba49c;
}

.links a:hover {
  text-decoration: underline;
  text-decoration-color: #000;
  text-decoration-style: solid;
  transform: scale(1.03);
  transition: 0.3s;
}
.links a {
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 1px;
  color: #0f0f0e;
}
.links > * {
  text-align: center;
  height: 100%;
  width: 80px;
  padding: 0px 10px 0px 10px;
}

.card {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  border: 1px solid #aba49c;
  padding: 10px;
  margin: 10px;
}

.card:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
}

.card-name {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.2em;
}

.card-gender {
  font-size: 0.8em;
  text-align: center;
  margin-bottom: 0.1em;
}

.card-height {
  font-size: 0.8em;
  text-align: center;
  margin-bottom: 0.1em;
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.list-title {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.2em;
}

.modalContainer {
  position: fixed;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);

  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 400px;
  padding: 5px;
  border-radius: 5px;
  background: #fff;

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
  box-shadow: 5px 15px 5px rgba(0, 0, 0, 0.1);
}

.modal-header {
  padding: 5px;
  text-align: center;
  width: 100%;
  position: relative;
  margin-bottom: 5px;
  font-size: 18px;
}

#x-button {
  background-color: rgba(0, 0, 0, 0);
  color: black;
  font-weight: 800;
  display: flex;
  cursor: pointer;
  /* border-radius: 5px; */
  padding: 5px;
  border: none;
  top: -5px;
  right: 0;
  align-self: flex-start;
  position: absolute;
  margin-right: 0.3rem;
}

#x-button:hover {
  color: white;
  background-color: red;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.modal-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 5px;
}
